$primary-color: #85ccff;
$secondary-color: #1c1b1a;

.accordian-div {
  margin: 10px;
  background-color: #fff;
  color: $secondary-color;
  font-size: 18px;
  border: none;
  font-family: "Montserrat", cursive;
}
.create-btn {
  background-color: $secondary-color !important;
  color: $primary-color !important;
  margin-top: 12px !important;
  margin-bottom: 24px !important;
  margin-left: 12px !important;
  font-weight: bold !important;
  letter-spacing: 2px !important;
  font-family: "Montserrat", cursive !important;
}

.accordian-main {
  font-family: "Montserrat", cursive;

  .card {
    border: 2px solid $primary-color;
    background-color: $secondary-color;
    margin-bottom: 20px;
    color: #fff;
  }
  .card-header {
    padding-bottom: 20px;
  }
  .delete-btn {
    float: right;
    background-color: #f44336 !important;
  }
  .edit-btn {
    float: right;
    margin-right: 10px;
  }
}
