@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat&display=swap");

$primary-color: #85ccff;
$secondary-color: #1c1b1a;

.loading {
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  border-radius: 50%;
  border: 3px solid $secondary-color;
  border-bottom: none;

  animation: loading 2s infinite;

  @keyframes loading {
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(-180deg);
    }
  }
}
